#theGridWord
{
    display: flex ; 
}
.divChar
{
    width: 20px ; 
    height: 20px ;
    border: solid red 2px ;
    background-color: antiquewhite ; 
}
.hidden
{
    background-color: brown ; 
}
#screenGame
{
    display: flex ; 
}
#conviction
{
    border: solid green 2px ; 
    margin: 30px ; 
}